<div class="row mt-4">
    {{#each course}}
    <div class="col-sm-6 col-lg-4">
        <div class="card card-course-item">
            <a href="/courses/{{this.slug}}">
                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
            </a>
            <div class="card-body">
                <a href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p class="card-text">{{this.decription}}</p>
                <a href="#" class="btn btn-primary">Mua khóa học</a>
            </div>
        </div>
    </div>

    {{else}}
    <div class="col text-center">
        <strong>Hiện tại trang web chưa có bài đăng hay khóa học nào.<br> lòng chờ trong thời gian gần nhất.</strong>
    </div>
    {{/each}}
</div>
